# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Created Object outputs
*.bgeo
*.poly

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# unneeded osx files
*.DS_Store

# unneeded directories from this project
Projects/example/inputOutputFiles/*.obj
